---
layout: default
title: "Mayan Dreamspell Calendar app"
---
	
	<section class="top-section float-left w-100">
		<div class="iphone-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="iphone-title text-center mt-3 mt-md-4 mt-lg-5 mb-4">Galactivate Your Being</h1>	
					</div>
					<div id="iphone-video">
						<video class="i-video" width="158" height="284" loop autoplay muted style="object-fit: fill;">
					  	<source src="/video/AppWebPreview02.m4v" type="video/m4v">
						  Your browser does not support HTML5 video.
						</video>
					</div>
					
				</div>
			</div>
		</div>


		<div class="two-col-section py-5 my-5">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 pt-5 pr-4 pt-sm-0">
						<div class="two-col-icon text-center mb-4 mb-md-5">
							<img src="/images/MainCycles.png" alt="MainCycles-img">
						</div>
						<p class="two-col-text text-center text-sm-left">Natural time is measured in cycles. The Ancient Mayan People have described  the cycles of both the universe and nature around us and created a harmonic calendar that is synchronized to all those cycles.</p>
						<p class="two-col-text text-center text-sm-left">The Tzolkin and 13 Moon Calendar is therefore less of a human invention, but more of a profound insight into the organizational tendencies within nature. Mayan cosmology developed this insight with great ingenuity and sophistication.</p>
					</div>
					<div class="col-12 col-md-6 mt-4 mt-md-0 pt-2 pl-4 pt-md-0">
						<div class="two-col-icon text-center mb-4 mb-md-5">
							<img src="/images/MainGregCalendar.png" alt="MainGregCalendar-img">
						</div>
						<p class="two-col-text text-center text-sm-left">Our irregular Gregorian calendar was invented to pay taxes, not to keep time. It is not synchronized to the natural cycles and thus not aware...</p>
						<p class="two-col-text text-center text-sm-left">All the Mayan time cycles are an all inclusive matrix of harmony infused with their indigenous wisdom.</p>
						<p class="two-col-text text-center text-sm-left"><strong>This app clarifies key aspects of the Law of Time and provides a simple way to sync along the cosmic cycles. 🌈 For new and experienced users of the Dreamspell calendar.</strong></p>
					</div>
					<div class="col-12">
						<h1 class="two-col-bottom-message text-center mt-5 pt-4">In the new time,<br />synchronicity* is the norm.</h1>
						<p class="two-col-bottom-subtext text-center mt-4"> * = Synchronicity is the operation<br />of a higher moving template of mathematical order<br />that coordinates all phenomena telepathically.</p>
					</div>
				</div>
			</div>
		</div>


		<div class="platforms mb-5 pb-4">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="text-center mb-5">
							<a href="https://apps.apple.com/us/app/13-20-sync/id384363262?mt=8" target="_blank" class="app-btn-top mt-3 mt-md-0"><img src="/images/available_iphone.png" alt="features-img" width="100%"></a>
							<p>&nbsp;</p>
							<h2>for iPhone</h2>
					        <a href="https://apps.apple.com/us/app/13-20-sync/id384363262?mt=8" target="_blank" class="app-btn-top mt-3 mt-md-0"><img src="/images/qr-code iphone 1320sync app.png" width="150" alt="img-back"></a>

							<p>&nbsp;</p>
					        <h5 class="text"><a href="https://www.youtube.com/watch?v=6KJRmQWvmuQ" target="blank" class="link"><strong>Watch App Preview</strong></a></h5>
				        </div>
					</div>
					<div class="col-12 col-md-6">
						<div class="text-center mb-5">
							<a href="https://apps.apple.com/us/app/13-20-sync-db/id1463342762?mt=8" target="_blank" class="app-btn-top mt-3 mt-md-0"><img src="/images/available_ipad.png" alt="features-img" width="100%"></a>
							<p>&nbsp;</p>
							<h2>and iPad</h2>
					        <a href="https://apps.apple.com/us/app/13-20-sync-db/id1463342762?mt=8" target="_blank" class="app-btn-top mt-3 mt-md-0"><img src="/images/qr-code ipad 1320sync app.png" width="150" alt="img-back"></a>
							<p>&nbsp;</p>
					        <h5 class="text"><a href="https://www.youtube.com/watch?v=4wOiXZ-jTYQ" target="blank" class="link"><strong>Watch App Preview</strong></a></h5>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</section>


	{% include reviews.html %}


	<section class="message-section float-left w-100 py-5">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h3 class="message-title my-4">
						<span class="d-block">Tell me, and I will forget.</span>
						<span class="d-block">Show me, and I may remember.</span>
						<span class="d-block">Involve me, and I will understand.</span>
					</h3>
					<p class="message-text py-2 mb-0">Hsun Tzu, 313 B.C.</p>
				</div>
			</div>
		</div>
	</section>



	<section class="features-section float-left w-100 py-5">
		<div class="container">
			<div class="row">
				<div class="col-12 mt-5 pb-2">
					<h4 class="features-header font-weight-bold text-center mb-5">FEATURES TO EXPLORE THE CYCLES</h4>
				</div>
				{% assign features_sorted = site.features | sort: "weight" %}
				{% for feature in features_sorted %}
					<div class="features-list col-12 col-md-6 col-lg-4 my-4">
						<h3 class="font-weight-bold mb-3"><span class="block-title-icon d-inline-block mr-2"><img src="{{ feature.icon }}" alt="{{ feature.icon_alt_text }}"></span>{{ feature.title }}</h3>
						<p>{{ feature.description }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>




	<section class="international-section float-left w-100 text-center pb-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="inter-title font-weight-bold mb-1 pt-3 mt-3"><span class="inter-title-icon d-inline-block mr-2"><img src="/images/IconInt.png" alt="icon"></span>International</h3>
					<p class="inter-text py-4"><span class="d-block">The app is translated in the following laguages:</span><strong>English, Bulgarian, French, German, Italian, Japanese, Portuguese, Russian, Simp.Chinese, Spanish.</strong></p>
					<img src="/images/CountryFlags.png" class="image" alt="flags-img" width="100%">
					<p class="inter-text pb-3 mb-4">Please note: the theory and information section is only available in<br />English, Spanish, Portugese, Simp.Chinese and German.</p>
					<p class="inter-text pb-3 mb-4">This app is a joint venture, most translations have been contributed by happy users of the app.</p>
					<p class="inter-text pb-3 mb-4">Could you help getting this knowledge in as many languages as possible?</p>
					<a href="https://spreadsheets.google.com/viewform?formkey=dEJTOXBEVVM5ODZyOFVFa004dmtLSGc6MQ" target="_blank" class="btn btn-primary font-weight-bold mb-4">I can help</a>
				</div>
			</div>
		</div>
	</section>


	{% include social-section.html %}

	

	
