<section class="social-section float-left w-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-4 mb-sm-0">
        <a href="https://www.youtube.com/user/1320Sync" target="_blank"><h3 class="social-title font-weight-bold pb-3 mb-3 d-inline-block"><span class="social-title-icon d-inline-block mr-3 float-left"><img src="/images/youtube-icon.png" alt="icon"></span>Go to Our YouTube Channel to learn more about the app.</h3></a>
        <iframe src="http://www.youtube.com/embed/66Lr_GjFotk?rel=0" allowfullscreen="" width="420" height="315" frameborder="0"></iframe>
      </div>
      <div class="col-12 col-md-6">
        <a href="https://www.facebook.com/1320sync/" target="_blank" class="social-title font-weight-bold pb-3 mb-3 d-inline-block"><h3 class="social-title font-weight-bold pb-3 mb-3 d-inline-block"><span class="social-title-icon d-inline-block mr-3 float-left"><img src="/images/facebook-icon.png" alt="icon"></span>Visit our Facebook page to stay up to date.</h3></a>
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F1320sync&amp;width=410&amp;height=258&amp;colrscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false" scrolling="no" style="border:none; overflow:hidden; width:410px; height:258px;" allowtransparency="true" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</section>

<footer class="footer float-left w-100 text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="https://lawoftime.org/" class="f-link" target="_blank">
          <p class="f-text">Based on the work of Jose Arguelles.</p>
          <img src="/images/law-of-time-logo.png" alt="law-of-time-logo"/>
          <p class="f-text mt-2 mb-0">www.lawoftime.org</p>	
        </a>
      </div>
    </div>
  </div>
</footer>

