<footer class="footer float-left w-100 text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="https://lawoftime.org/" class="f-link" target="_blank">
          <p class="f-text">The information in this app is used with permission of the Foundation for the Law Of Time.<br />This foundation was formed by José Argüelles in 2000.<br />I want to thank them for their endless support and cooperation.</p>
          <img src="/images/law-of-time-logo.png" alt="law-of-time-logo"/>
          <p class="f-text mt-2 mb-0">www.lawoftime.org</p>	
        </a>
      </div>
    </div>
  </div>
</footer>

