<nav class="navbar navbar-expand-md fixed-top py-3 py-md-4">
  <div class="container d-block">
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>		  
    <div class="row">
      <div class="col-12 col-md-4">
        <a class="navbar-brand font-weight-bold py-0 py-sm-2" href="index.html"><img src="images/AppIconHeader.png">13:20:Sync</a>		
      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="col-12 col-md-6 text-center">
          <a href="http://itunes.com/apps/1320sync" target="_blank" class="app-btn-top mt-3 mt-md-0">
            <img src="images/AppStoreButtonStateNormal.png" alt="img-back">
            <img src="images/AppStoreButtonStateHover.png" class="app-btn-top-hover" alt="img-front">        
          </a>	
        </div>
        <div class="col-12 col-md-6">
          <ul class="navbar-nav float-right pt-2 pt-md-0 mt-3 mt-md-0">
            <li class="nav-item py-2 py-md-2 px-0 px-md-3">
              <a class="nav-link font-weight-bold p-0" href="#">Info</a>
            </li>
            <li class="nav-item py-2 py-md-2 px-0 pl-md-4">
              <a class="nav-link font-weight-bold p-0" href="support.html">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>	
</nav>
