<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include seo.html %}
  <meta name="apple-itunes-app" content="app-id=384363262">
  <link rel="shortcut icon" type="image/png" href="/images/MayaAppShortcutIcon.png"/>
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ site.analytics.google.tracking_id }}','auto');
    ga('set', 'anonymizeIp', {{ site.analytics.google.anonymize_ip | default: false }});
    ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  <meta name="keywords" content="Maya, mayan, calendar, 13 moon, 13moons, iPhone, iPad, iPod touch, app store, dreamspell, wavespell,Tzolkin, kin, Reading, iPhone, app, application, calculator,Calculate, synchronization, sync, 13 20 sync, 1320sync, 1320, 13 20,13 moon calendar application, 1320sync, moon, 13 moon, 13 moon cycle,maya calendar app for iphone, 13:20 sync, 1320sync.com, mayan calendariphone app, 13 20 calendar, 13 moon calendar app for iphone, 13:20sync kin number, 13:20sync, apps maya, calculate the kin, iphone app13:20:sync, iphone calendar vector, iphone mayan calendar, kincalendar, maya 1320, mayan calendar kin calculate, astrology">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700|Kalam">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" integrity="sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>