<head>
	<title>1320Sync</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple­itunes­app" content="app­id=384363262"><link rel="SHORTCUT ICON" href=“MayaAppShortcutIcon.png"><meta name="keywords" content="Maya, mayan, calendar, 13 moon, 13moons, iPhone, iPad, iPod touch, app store, dreamspell, wavespell,Tzolkin, kin, Reading, iPhone, app, application, calculator,Calculate, synchronization, sync, 13 20 sync, 1320sync, 1320, 13 20,13 moon calendar application, 1320sync, moon, 13 moon, 13 moon cycle,maya calendar app for iphone, 13:20 sync, 1320sync.com, mayan calendariphone app, 13 20 calendar, 13 moon calendar app for iphone, 13:20sync kin number, 13:20sync, apps maya, calculate the kin, iphone app13:20:sync, iphone calendar vector, iphone mayan calendar, kincalendar, maya 1320, mayan calendar kin calculate, astrology">
  <link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>