<section class="social-section float-left w-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-4 mb-sm-0">
        <a href="https://www.youtube.com/user/1320Sync" target="_blank" class="social-title font-weight-bold pb-3 d-inline-block"><h3 class="social-title font-weight-bold pb-3 mb-3 d-inline-block"><span class="social-title-icon d-inline-block mr-3 float-left"><img src="/images/youtube-icon.png" alt="icon"></span>Go to Our YouTube Channel to learn more about the app.</h3></a>
        <iframe src="https://www.youtube.com/embed/6KJRmQWvmuQ?rel=0" allowfullscreen="" width="210" height="315" frameborder="0"></iframe>
        <iframe src="https://www.youtube.com/embed/playlist?list=PLtd2CzUKSjRSbLF0k_6NzmG61U8HqRn93" allowfullscreen="" width="210" height="315" frameborder="0"></iframe>
      </div>
      <div class="col-12 col-md-6">
        <a href="https://www.facebook.com/1320sync/" target="_blank" class="social-title font-weight-bold pb-3 d-inline-block"><h3 class="social-title font-weight-bold pb-3 mb-3 d-inline-block"><span class="social-title-icon d-inline-block mr-3 float-left"><img src="/images/facebook-icon.png" alt="icon"></span>Visit our Facebook page to stay up to date.</h3></a>
        <div class="fb-page" data-href="https://www.facebook.com/1320sync/" data-tabs="timeline" data-width="500px" data-height="635" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/1320sync/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/1320sync/">13:20:Sync</a></blockquote></div>
      </div>
    </div>
  </div>
</section>
